{% extends 'base.html' %}
{% load static sekizai_tags %}
{% block content %}
    <div class="container-fluid">
        <div id="country-demo" v-cloak>
            <h1 class="center">Banned countries</h1>

            <h3>Banned</h3>

            <ul>
                <!-- Render a li element for every entry in the computed Countries array. -->
                <li v-if="countriesComputed == ''">No country found.</li>
                <li v-for="country in countriesComputed">
                    <label class="labelContainer">[[country]]
                    <input type="checkbox" v-bind:value='country' :name="country" :id="country"
                           v-model="countriesList">
                      <span class="checkmark"></span>
                    </label>
                </li>
            </ul>

            <h5 v-if="countriesComputed != ''">
                <button v-on:click="clearSelectedCountries" class="button">Reset</button>
            </h5>

            <h3>Select banned countries</h3>
            <p>
                <label class="labelContainer">Select All
                <input type="checkbox" @change="selectAllContries($event)">
                  <span class="checkmark"></span>
                </label>
            </p>

            <ul>
                <li v-for="filter in filters">
                    <a href="javascript:void(0);" v-on:click="filterCountries(filter);">
                        <span>[[ filter ]]</span>
                    </a>
                </li>
            </ul>

            <ul>
                <!-- Create a binding between the checkCountry model and the selCountries -->
                <li v-for="(country, idx) in json_countries" v-if="countryShow">
                    <label class="labelContainer">[[country.name]]
                    <input type="checkbox" v-bind:value='country.name' :name="country.c_index" :id="country.c_index"
                           v-model="countriesList">
                      <span class="checkmark"></span>
                    </label>
                </li>

                <!-- Create a binding for filter countries -->
                <li v-for="(countries, idx) in filterCountriesList" v-if="countryFilterShow" class="filterCountriesList">
                    <h3>[[idx]]</h3>
                    <ul>
                        <li v-for="(country, idx) in countries">
                            <label class="labelContainer">[[country.name]]
                            <input type="checkbox" :value="country.name" :name="country.c_index" :id="country.c_index" v-model="countriesList">
                            <span class="checkmark"></span>
                            </label>
                        </li>
                    </ul>
                </li>
            </ul>

            <h5>
                <p v-if="successMesssage">Successfully saved!</p>
                <button v-on:click="saveSelectedCountries" class="button">Save</button>
            </h5>
        </div>
    </div>
    {% addtoblock "js" %}
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        {{ json_countries | json_script:"countries-data" }}
        <script>
            var country_demo = new Vue({
                delimiters: ["[[", "]]"],
                el: '#country-demo',
                data: {
                    countriesList: [],
                    filterCountriesList: {},
                    countryShow: true,
                    countryFilterShow: false,
                    successMesssage: false,
                    json_countries: JSON.parse(document.getElementById('countries-data').textContent),
                    filters: ["ABC", "DEF", "GHI", "JKL", "MNO", "PQR", "STU", "VWX", "YZ"],
                },
                beforeMount() {
                    var countriesComputedStorage = localStorage.getItem("countriesComputed");
                    if (countriesComputedStorage) {
                        this.countriesList = JSON.parse(countriesComputedStorage);
                    }
                },
                computed: {
                    countriesComputed() {
                        return this.countriesList;
                    }
                },
                methods: {
                    filterCountries(filter) {
                        this.filterCountriesList = {};
                        this.filterCountriesList[filter.charAt(0)] = this.json_countries.filter( country => (country.c_index == filter.charAt(0)) );
                        this.filterCountriesList[filter.charAt(1)] = this.json_countries.filter( country => (country.c_index == filter.charAt(1)) );
                        this.filterCountriesList[filter.charAt(2)] = this.json_countries.filter( country => (country.c_index == filter.charAt(2)) );
                        this.countryShow = false;
                        this.countryFilterShow = true;
                    },
                    selectAllContries($event) {
                        const checked = $event.target.checked;
                        var selected = [];
                        if (checked) {
                            this.json_countries.forEach(function (country) {
                                selected.push(country.name);
                            });
                        }
                        this.countriesList = selected;
                    },
                    saveSelectedCountries() {
                        localStorage.setItem("countriesComputed", JSON.stringify(this.countriesList));
                        this.successMesssage = true;

                    },
                    clearSelectedCountries() {
                        localStorage.removeItem("countriesComputed");
                        this.countriesList = [];
                    },
                }
            })
        </script>
    {% endaddtoblock %}
{% endblock content %}
